<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h4>以下の内容で投稿していいですか？</h4>
    <%= form_for (@nisett) do |f| %>
      <%= f.hidden_field :content %>
      <p>本文：<%= @nisett.content %></p>
      <%= f.submit "投稿",class:'btn btn-block' %>
    <% end %>
  
    <%= form_for(@nisett, url: new_nisett_path, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる" , name:'back',class:'btn btn-default btn-block' %>
    <% end %>
  </div>
</div>
