<!DOCTYPE html>
<html>
<head>
  <title>Nisetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"style=width:100%;">
          <%= link_to "Nisetter", root_path, class: "navbar-brand" %>
          <div class = "container" id="header-container"style=width:100%;">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"style="max-width: 100px;float: right;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">menu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "新規投稿", new_nisett_path %></li>
                  <li><%= link_to "投稿一覧", nisetts_path %></li>
                  <li><%= link_to "メッセージ", new_message_path %></li>
                  <li><%= link_to "通知" %></li>
                  <li><%= link_to "友達つながり" %></li>
                  <li><%= link_to "ログイン" %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
<%= yield %>

  <footer>
    <p>運営会社　似せッター株式会社</p>
    <p>© 2015-2016 Copyright Nisetter Corp.</p>
  </footer>

</body>
</html>
